html,
body {
  padding: 0;
  margin: 0;
}

.viewport {
  width: 100vw;
  height: 100vh;
  display: block;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  padding: 1em;
}

.info-entry {
  display: flex;
  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }

  .label {
    width: 7em;
  }

  .value {
    width: 10em;
  }
}
